#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.form {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color:#00b8e2;
  padding: 20px;
  z-index: 1000;
}

.form input {

  margin: 5px;
  padding: 10px;
  font-size: 16px;
  background-color: #eeeeee;
  border: none;
  color: #000000;
}
.form button {
  margin: 5px;
  padding: 10px;
  font-size: 16px;
}

.container {
  margin-top: 60px; 
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}


.total-participation {
  text-align: center; 
  margin-bottom: 20px;
}

.chart-table-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  gap: 30%;
  align-items: center;
}

.legend {
  flex: 1;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.legend-color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
}

.legend-name {
  font-size: 14px;
  font-weight: bold;
}

.pie-chart-container {
  flex: 1;
  max-width: 50%;
  display: flex;
}

.table-container {
  flex: 1; 
  max-width: 50%;
  display: flex;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th, table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1.4px solid #000000;
}